/* TailwindCSS -> CSS - Utility Classes | background-color : "red" -> bg-red */

.header{
    width: 100vw;
    height: 100px;
    background: #ff0000;
}

.footer{
    width: 100vw;
    height: 100px;
    background: #8ad511;
}